h1 {
    color:rgb(17, 17, 130)
}
h1 {
    text-align: center;
}

h2 {
    color:rgb(42, 19, 158)
}


img {
    display: block;
    margin: auto;
}
.statement {
    color: rgb(66, 66, 96);
}

* {
    text-align: center;
    background-color:rgb(112, 163, 207)
}

p {
    line-height: 0.3
}