h1 {
    color:#d9decf;
    background-color:#d7825e;
    text-align: center;
}

h2 {
    color:#F3F7EC;
    background-color:#005C78 ;
}

img {
    display: block;
    margin: auto;
    background-color:#005C78
}
.statement {
    color: rgb(66, 66, 96);
}

* {

    text-align: center;
    background-color:#e4e7de
}

p {
    color:
}

p [href]{
    color: #d7825e;
}

.orange {
    color: #bf7352;
}