h1 {
    color:rgb(27, 27, 171)
}
h1 {
    text-align: center;
}

h2 {
    color:rgb(33, 3, 183)
}
h2 {
    text-align:
}

ul {
    color:rgb(40, 40, 63)
}

p {
    text-align: center;
    color: rgb(0, 0, 158);
}

img {
    display: block;
    margin: auto;
}